<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        MÁS
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        {% for sitepage in site.html_pages %}
        {% unless sitepage.url == '/' or sitepage.url == '/404'  or sitepage.url == '/blog' %}
        <a href="/mgi-6cm67.github.io/inicio_sesion" class="navbar-item has-text-grey-light is-active"> Acceso </a>
        {% endunless %}
        {% endfor %}
        <!-- <hr class="navbar-divider">
    <a class="navbar-item">
      Report an issue
    </a> -->
    </div>
</div>