---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}
    <br>
    <br>
    <br>
   
    ---
    
    # Aviso de Privacidad
    
    ## Responsable
    
    **DLCM S.A. de C.V.**
    Domicilio: Avenida Té 950, Granjas MéMéxico, Iztacalco, Ciudad de México, C.P. 08400
    Teléfono: (55) 40414041-5013
    Correo electrónico: contacto@contacto@dlcm.mx
    
    ## Información Recabada
    
    Recabamos los siguientes datos personales:
    
    - Nombre completo
    - Dirección
    - Teléfono
    - Correo electrónico
    - Preferencias de publicidad
    
    ## Finalidades del Tratamiento
    
    Los datos se recaban con las siguientes finalidades:
    
    - Enviar promociones y ofertas personalizadas.
    - Realizar análisis de mercado y segmentación de audiencia.
    
    ## Limitación del Alcance
    
    Los datos personales no serán compartidos con terceros sin consentimiento previo.
    
    ## Revocación del Consentimiento
    
    El titular puede revocar su consentimiento en cualquier momento enviando un correo a contacto@publicidadcreativa.com.mx.
    
    ## Derechos ARCO
    
    El titular puede ejercer sus derechos de acceso, rectificación, cancelación y oposición mediante solicitud por escrito o correo electrónico.
    
    ---

   <script src="js/jquery.js"></script>
   <script src="js/main.js"></script>

</body>
</html>