---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}
    <br>
    <br>
    <br>
   
    <h1>Aviso de Privacidad</h1><br>
    
    <h2>Responsable</h2><br>
    
    <b>DLCM S.A. de C.V.</b><br>
    Domicilio: Avenida Té 950, Granjas México, Iztacalco, Ciudad de México, C.P. 08400<br>
    Teléfono: (55) 40414041-5013<br>
    Correo electrónico: contacto@contacto@dlcm.mx<br>
    
    <h2>Información Recabada</h2><br>
    
    Recabamos los siguientes datos personales:<br>
    
    - Nombre completo<br>
    - Dirección<br>
    - Teléfono<br>
    - Correo electrónico<br>
    - Preferencias de publicidad<br>
    
    <h2>Finalidades del Tratamiento</h2><br>
    
    Los datos se recaban con las siguientes finalidades:<br>
    
    - Enviar promociones y ofertas personalizadas.<br>
    - Realizar análisis de mercado y segmentación de audiencia.<br>
    
    <h2>Limitación del Alcance</h2><br>
    
    Los datos personales no serán compartidos con terceros sin consentimiento previo.<br>
    
    <h2>Revocación del Consentimiento</h2><br>
    
    El titular puede revocar su consentimiento en cualquier momento enviando un correo a contacto@publicidadcreativa.com.mx.<br>
    
    <h2>Derechos ARCO</h2><br>
    
    El titular puede ejercer sus derechos de acceso, rectificación, cancelación y oposición mediante solicitud por escrito o correo electrónico.<br>

   <script src="js/jquery.js"></script>
   <script src="js/main.js"></script>

</body>
</html>